webapp/src/main/webapp/wsdl/CacsDomainManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://manager.ws.gfi.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://manager.ws.gfi.com" xmlns:intf="http://manager.ws.gfi.com" xmlns:tns1="http://crmscorpoaction.cacsdomain.beans.ws.gfi.com" xmlns:tns2="http://beans.ws.gfi.com" xmlns:tns3="http://crmsaction.cacsdomain.beans.ws.gfi.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 09, 2009 (02:08:07 CEST)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://crmsaction.cacsdomain.beans.ws.gfi.com"/>
   <import namespace="http://manager.ws.gfi.com"/>
   <import namespace="http://crmscorpoaction.cacsdomain.beans.ws.gfi.com"/>
   <complexType abstract="true" name="BasicBeanIn">
    <sequence/>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://crmscorpoaction.cacsdomain.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://crmsaction.cacsdomain.beans.ws.gfi.com"/>
   <import namespace="http://manager.ws.gfi.com"/>
   <complexType name="CustomerElementsIn">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="ACTION" nillable="true" type="xsd:string"/>
       <element name="CUSTCODE" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="CrmsCorpoActionIn">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="customersList" nillable="true" type="impl:ArrayOf_tns1_CustomerElementsIn"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="Contract">
    <sequence>
     <element name="ACTION_RESULT" nillable="true" type="xsd:int"/>
     <element name="CO_ID" nillable="true" type="xsd:long"/>
     <element name="CUSTCODE_OWN" nillable="true" type="xsd:string"/>
     <element name="ERROR_MESSAGE" nillable="true" type="xsd:string"/>
     <element name="REQUEST_ID" nillable="true" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="CustomerElementsOut">
    <sequence>
     <element name="ACTION" nillable="true" type="xsd:string"/>
     <element name="CUSTCODE" nillable="true" type="xsd:string"/>
     <element name="contractsList" nillable="true" type="impl:ArrayOf_tns1_Contract"/>
    </sequence>
   </complexType>
   <complexType name="CrmsCorpoActionOut">
    <sequence>
     <element name="customersList" nillable="true" type="impl:ArrayOf_tns1_CustomerElementsOut"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://manager.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://crmsaction.cacsdomain.beans.ws.gfi.com"/>
   <import namespace="http://crmscorpoaction.cacsdomain.beans.ws.gfi.com"/>
   <complexType name="ArrayOf_tns1_CustomerElementsIn">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:CustomerElementsIn"/>
    </sequence>
   </complexType>
   <element name="crmsCorpoActionIn" type="tns1:CrmsCorpoActionIn"/>
   <complexType name="ArrayOf_tns1_Contract">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:Contract"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns1_CustomerElementsOut">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:CustomerElementsOut"/>
    </sequence>
   </complexType>
   <element name="crmsCorpoActionReturn" type="tns1:CrmsCorpoActionOut"/>
   <complexType name="ArrayOf_tns3_ContractElementsIn">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns3:ContractElementsIn"/>
    </sequence>
   </complexType>
   <element name="crmsActionIn" type="tns3:CrmsActionIn"/>
   <complexType name="ArrayOf_tns3_ContractElementsOut">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns3:ContractElementsOut"/>
    </sequence>
   </complexType>
   <element name="crmsActionReturn" type="tns3:CrmsActionOut"/>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://crmsaction.cacsdomain.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://manager.ws.gfi.com"/>
   <import namespace="http://crmscorpoaction.cacsdomain.beans.ws.gfi.com"/>
   <complexType name="ContractElementsIn">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="ACTION" nillable="true" type="xsd:string"/>
       <element name="CO_ID" nillable="true" type="xsd:long"/>
       <element name="CUSTCODE" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="CrmsActionIn">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="contracts_list" nillable="true" type="impl:ArrayOf_tns3_ContractElementsIn"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ContractElementsOut">
    <sequence>
     <element name="ACTION" nillable="true" type="xsd:string"/>
     <element name="ACTION_RESULT" nillable="true" type="xsd:int"/>
     <element name="CO_ID" nillable="true" type="xsd:long"/>
     <element name="CUSTCODE" nillable="true" type="xsd:string"/>
     <element name="ERROR_MESSAGE" nillable="true" type="xsd:string"/>
     <element name="REQUEST_ID" nillable="true" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="CrmsActionOut">
    <sequence>
     <element name="contracts_list" nillable="true" type="impl:ArrayOf_tns3_ContractElementsOut"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="crmsActionResponse">

      <wsdl:part element="impl:crmsActionReturn" name="crmsActionReturn"/>

   </wsdl:message>

   <wsdl:message name="crmsCorpoActionResponse">

      <wsdl:part element="impl:crmsCorpoActionReturn" name="crmsCorpoActionReturn"/>

   </wsdl:message>

   <wsdl:message name="crmsCorpoActionRequest">

      <wsdl:part element="impl:crmsCorpoActionIn" name="crmsCorpoActionIn"/>

   </wsdl:message>

   <wsdl:message name="crmsActionRequest">

      <wsdl:part element="impl:crmsActionIn" name="crmsActionIn"/>

   </wsdl:message>

   <wsdl:portType name="CacsDomainManager">

      <wsdl:operation name="crmsCorpoAction" parameterOrder="crmsCorpoActionIn">

         <wsdl:input message="impl:crmsCorpoActionRequest" name="crmsCorpoActionRequest"/>

         <wsdl:output message="impl:crmsCorpoActionResponse" name="crmsCorpoActionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="crmsAction" parameterOrder="crmsActionIn">

         <wsdl:input message="impl:crmsActionRequest" name="crmsActionRequest"/>

         <wsdl:output message="impl:crmsActionResponse" name="crmsActionResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CacsDomainManagerSoapBinding" type="impl:CacsDomainManager">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="crmsCorpoAction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="crmsCorpoActionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="crmsCorpoActionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="crmsAction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="crmsActionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="crmsActionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CacsDomainManagerService">

      <wsdl:port binding="impl:CacsDomainManagerSoapBinding" name="CacsDomainManager">

         <wsdlsoap:address location="http://localhost:8080/bscsWS/services/CacsDomainManager"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
