webapp/src/main/webapp/wsdl/EBillManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://manager.ws.gfi.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://manager.ws.gfi.com" xmlns:intf="http://manager.ws.gfi.com" xmlns:tns1="http://removeebill.ebill.beans.ws.gfi.com" xmlns:tns2="http://beans.ws.gfi.com" xmlns:tns3="http://commons.beans.ws.gfi.com" xmlns:tns4="http://hasebill.ebill.beans.ws.gfi.com" xmlns:tns5="http://addebill.ebill.beans.ws.gfi.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 09, 2009 (02:08:07 CEST)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://removeebill.ebill.beans.ws.gfi.com"/>
   <import namespace="http://addebill.ebill.beans.ws.gfi.com"/>
   <import namespace="http://hasebill.ebill.beans.ws.gfi.com"/>
   <import namespace="http://commons.beans.ws.gfi.com"/>
   <complexType abstract="true" name="BasicBeanIn">
    <sequence/>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://commons.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://removeebill.ebill.beans.ws.gfi.com"/>
   <import namespace="http://addebill.ebill.beans.ws.gfi.com"/>
   <import namespace="http://hasebill.ebill.beans.ws.gfi.com"/>
   <complexType name="CustomerIdType">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="CS_ID" nillable="true" type="xsd:long"/>
       <element name="CS_ID_PUB" nillable="true" type="xsd:string"/>
       <element name="CUSTCODE" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://removeebill.ebill.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://addebill.ebill.beans.ws.gfi.com"/>
   <import namespace="http://hasebill.ebill.beans.ws.gfi.com"/>
   <import namespace="http://commons.beans.ws.gfi.com"/>
   <complexType name="RemoveEBillIn">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="CUSTOMER_ID_COMPLEX" nillable="true" type="tns3:CustomerIdType"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://manager.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://removeebill.ebill.beans.ws.gfi.com"/>
   <import namespace="http://addebill.ebill.beans.ws.gfi.com"/>
   <import namespace="http://hasebill.ebill.beans.ws.gfi.com"/>
   <import namespace="http://commons.beans.ws.gfi.com"/>
   <element name="removeEBillIn" type="tns1:RemoveEBillIn"/>
   <element name="hasEBillIn" type="tns4:HasEBillIn"/>
   <element name="hasEBillReturn" type="tns4:HasEBillOut"/>
   <element name="addEBillIn" type="tns5:AddEBillIn"/>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://hasebill.ebill.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://removeebill.ebill.beans.ws.gfi.com"/>
   <import namespace="http://addebill.ebill.beans.ws.gfi.com"/>
   <import namespace="http://commons.beans.ws.gfi.com"/>
   <complexType name="HasEBillIn">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="CUSTOMER_ID_COMPLEX" nillable="true" type="tns3:CustomerIdType"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="HasEBillOut">
    <sequence>
     <element name="HAS_EBILL" nillable="true" type="xsd:boolean"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://addebill.ebill.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://removeebill.ebill.beans.ws.gfi.com"/>
   <import namespace="http://hasebill.ebill.beans.ws.gfi.com"/>
   <import namespace="http://commons.beans.ws.gfi.com"/>
   <complexType name="AddEBillIn">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="CUSTOMER_ID_COMPLEX" nillable="true" type="tns3:CustomerIdType"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="hasEBillRequest">

      <wsdl:part element="impl:hasEBillIn" name="hasEBillIn"/>

   </wsdl:message>

   <wsdl:message name="addEBillResponse">

   </wsdl:message>

   <wsdl:message name="hasEBillResponse">

      <wsdl:part element="impl:hasEBillReturn" name="hasEBillReturn"/>

   </wsdl:message>

   <wsdl:message name="removeEBillResponse">

   </wsdl:message>

   <wsdl:message name="removeEBillRequest">

      <wsdl:part element="impl:removeEBillIn" name="removeEBillIn"/>

   </wsdl:message>

   <wsdl:message name="addEBillRequest">

      <wsdl:part element="impl:addEBillIn" name="addEBillIn"/>

   </wsdl:message>

   <wsdl:portType name="EBillManager">

      <wsdl:operation name="removeEBill" parameterOrder="removeEBillIn">

         <wsdl:input message="impl:removeEBillRequest" name="removeEBillRequest"/>

         <wsdl:output message="impl:removeEBillResponse" name="removeEBillResponse"/>

      </wsdl:operation>

      <wsdl:operation name="hasEBill" parameterOrder="hasEBillIn">

         <wsdl:input message="impl:hasEBillRequest" name="hasEBillRequest"/>

         <wsdl:output message="impl:hasEBillResponse" name="hasEBillResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addEBill" parameterOrder="addEBillIn">

         <wsdl:input message="impl:addEBillRequest" name="addEBillRequest"/>

         <wsdl:output message="impl:addEBillResponse" name="addEBillResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EBillManagerSoapBinding" type="impl:EBillManager">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="removeEBill">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeEBillRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeEBillResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="hasEBill">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="hasEBillRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="hasEBillResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addEBill">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addEBillRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addEBillResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EBillManagerService">

      <wsdl:port binding="impl:EBillManagerSoapBinding" name="EBillManager">

         <wsdlsoap:address location="http://localhost:8080/bscsWS/services/EBillManager"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
