webapp/src/main/webapp/wsdl/ETopUpManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://manager.ws.gfi.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://manager.ws.gfi.com" xmlns:intf="http://manager.ws.gfi.com" xmlns:tns1="http://iswhitelist.etopup.beans.ws.gfi.com" xmlns:tns2="http://beans.ws.gfi.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 09, 2009 (02:08:07 CEST)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://iswhitelist.etopup.beans.ws.gfi.com"/>
   <complexType abstract="true" name="BasicBeanIn">
    <sequence/>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://iswhitelist.etopup.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.ws.gfi.com"/>
   <complexType name="IsWhiteListIn">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="MSISDN" nillable="true" type="xsd:string"/>
       <element name="TRX_NUMBER" nillable="true" type="xsd:long"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="IsWhiteListOut">
    <sequence>
     <element name="ACCOUNT_STATUS" nillable="true" type="xsd:string"/>
     <element name="CREDIT_LIMIT" nillable="true" type="xsd:float"/>
     <element name="CSCURBALANCE" nillable="true" type="xsd:float"/>
     <element name="CUSTCODE" nillable="true" type="xsd:string"/>
     <element name="IMSI" nillable="true" type="xsd:string"/>
     <element name="LANGUAGE" nillable="true" type="xsd:string"/>
     <element name="SRV_CLASS" nillable="true" type="xsd:string"/>
     <element name="TRX_NUMBER" nillable="true" type="xsd:long"/>
     <element name="WHITELIST_FLAG" nillable="true" type="xsd:boolean"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://manager.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://iswhitelist.etopup.beans.ws.gfi.com"/>
   <element name="isWhiteListIn" type="tns1:IsWhiteListIn"/>
   <element name="isWhiteListReturn" type="tns1:IsWhiteListOut"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="isWhiteListRequest">

      <wsdl:part element="impl:isWhiteListIn" name="isWhiteListIn"/>

   </wsdl:message>

   <wsdl:message name="isWhiteListResponse">

      <wsdl:part element="impl:isWhiteListReturn" name="isWhiteListReturn"/>

   </wsdl:message>

   <wsdl:portType name="ETopUpManager">

      <wsdl:operation name="isWhiteList" parameterOrder="isWhiteListIn">

         <wsdl:input message="impl:isWhiteListRequest" name="isWhiteListRequest"/>

         <wsdl:output message="impl:isWhiteListResponse" name="isWhiteListResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ETopUpManagerSoapBinding" type="impl:ETopUpManager">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="isWhiteList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isWhiteListRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="isWhiteListResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ETopUpManagerService">

      <wsdl:port binding="impl:ETopUpManagerSoapBinding" name="ETopUpManager">

         <wsdlsoap:address location="http://localhost:8080/bscsWS/services/ETopUpManager"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
