webapp/src/main/webapp/wsdl/GeneralDomainManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://manager.ws.gfi.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://manager.ws.gfi.com" xmlns:intf="http://manager.ws.gfi.com" xmlns:tns1="http://getservicepackage.contractdomain.beans.ws.gfi.com" xmlns:tns2="http://beans.ws.gfi.com" xmlns:tns3="http://commons.beans.ws.gfi.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 09, 2009 (02:08:07 CEST)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://commons.beans.ws.gfi.com"/>
   <import namespace="http://manager.ws.gfi.com"/>
   <import namespace="http://getservicepackage.contractdomain.beans.ws.gfi.com"/>
   <complexType abstract="true" name="BasicBeanIn">
    <sequence/>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://getservicepackage.contractdomain.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://commons.beans.ws.gfi.com"/>
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://manager.ws.gfi.com"/>
   <complexType name="GetServicePackageBeanIn">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="RPCODE" nillable="true" type="xsd:long"/>
       <element name="SNCODE" nillable="true" type="xsd:long"/>
       <element name="SPCODE" nillable="true" type="xsd:long"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="SpcodeElement">
    <sequence>
     <element name="SPCODE" nillable="true" type="xsd:long"/>
     <element name="SP_DES" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="GetServicePackageBeanOut">
    <sequence>
     <element name="spcode_list" nillable="true" type="impl:ArrayOf_tns1_SpcodeElement"/>
    </sequence>
   </complexType>
   <complexType name="GetAvailableServicesBeanIn">
    <sequence>
     <element name="RPCODE" nillable="true" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="GetAvailableServicesBeanOut">
    <sequence>
     <element name="spcode_list" nillable="true" type="impl:ArrayOf_tns3_SpcodeElement"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://manager.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://commons.beans.ws.gfi.com"/>
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://getservicepackage.contractdomain.beans.ws.gfi.com"/>
   <element name="in" type="tns1:GetServicePackageBeanIn"/>
   <complexType name="ArrayOf_tns1_SpcodeElement">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:SpcodeElement"/>
    </sequence>
   </complexType>
   <element name="getServicePackageReturn" type="tns1:GetServicePackageBeanOut"/>
   <element name="in1" type="tns1:GetAvailableServicesBeanIn"/>
   <complexType name="ArrayOf_tns3_SncodeElement">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns3:SncodeElement"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns3_SpcodeElement">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns3:SpcodeElement"/>
    </sequence>
   </complexType>
   <element name="getAvailableServicesReturn" type="tns1:GetAvailableServicesBeanOut"/>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://commons.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://manager.ws.gfi.com"/>
   <import namespace="http://getservicepackage.contractdomain.beans.ws.gfi.com"/>
   <complexType name="SncodeElement">
    <sequence>
     <element name="SNCODE" nillable="true" type="xsd:long"/>
     <element name="SRV_PARAM_IND" nillable="true" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="SpcodeElement">
    <sequence>
     <element name="SPCODE" nillable="true" type="xsd:long"/>
     <element name="SP_DES" nillable="true" type="xsd:string"/>
     <element name="sncode_list" nillable="true" type="impl:ArrayOf_tns3_SncodeElement"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getServicePackageResponse">

      <wsdl:part element="impl:getServicePackageReturn" name="getServicePackageReturn"/>

   </wsdl:message>

   <wsdl:message name="getServicePackageRequest">

      <wsdl:part element="impl:in" name="in"/>

   </wsdl:message>

   <wsdl:message name="getAvailableServicesResponse">

      <wsdl:part element="impl:getAvailableServicesReturn" name="getAvailableServicesReturn"/>

   </wsdl:message>

   <wsdl:message name="getAvailableServicesRequest">

      <wsdl:part element="impl:in1" name="in"/>

   </wsdl:message>

   <wsdl:portType name="GeneralDomainManager">

      <wsdl:operation name="getServicePackage" parameterOrder="in">

         <wsdl:input message="impl:getServicePackageRequest" name="getServicePackageRequest"/>

         <wsdl:output message="impl:getServicePackageResponse" name="getServicePackageResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAvailableServices" parameterOrder="in">

         <wsdl:input message="impl:getAvailableServicesRequest" name="getAvailableServicesRequest"/>

         <wsdl:output message="impl:getAvailableServicesResponse" name="getAvailableServicesResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GeneralDomainManagerSoapBinding" type="impl:GeneralDomainManager">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getServicePackage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getServicePackageRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getServicePackageResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAvailableServices">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAvailableServicesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAvailableServicesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GeneralDomainManagerService">

      <wsdl:port binding="impl:GeneralDomainManagerSoapBinding" name="GeneralDomainManager">

         <wsdlsoap:address location="http://localhost:8080/bscsWS/services/GeneralDomainManager"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
