webapp/src/main/webapp/wsdl/KpsaManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://manager.ws.gfi.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://manager.ws.gfi.com" xmlns:intf="http://manager.ws.gfi.com" xmlns:tns1="http://getpuk.kpsa.beans.ws.gfi.com" xmlns:tns2="http://beans.ws.gfi.com" xmlns:tns3="http://deactreason.kpsa.beans.ws.gfi.com" xmlns:tns4="http://spchange.kpsa.beans.ws.gfi.com" xmlns:tns5="http://rpchange.kpsa.beans.ws.gfi.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 09, 2009 (02:08:07 CEST)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://manager.ws.gfi.com"/>
   <import namespace="http://deactreason.kpsa.beans.ws.gfi.com"/>
   <import namespace="http://rpchange.kpsa.beans.ws.gfi.com"/>
   <import namespace="http://getpuk.kpsa.beans.ws.gfi.com"/>
   <import namespace="http://spchange.kpsa.beans.ws.gfi.com"/>
   <complexType abstract="true" name="BasicBeanIn">
    <sequence/>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://getpuk.kpsa.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://manager.ws.gfi.com"/>
   <import namespace="http://deactreason.kpsa.beans.ws.gfi.com"/>
   <import namespace="http://rpchange.kpsa.beans.ws.gfi.com"/>
   <import namespace="http://spchange.kpsa.beans.ws.gfi.com"/>
   <complexType name="GetPukIn">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="imsi" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="GetPukOut">
    <sequence>
     <element name="PIN" nillable="true" type="xsd:string"/>
     <element name="PIN2" nillable="true" type="xsd:string"/>
     <element name="PUK" nillable="true" type="xsd:string"/>
     <element name="PUK2" nillable="true" type="xsd:string"/>
     <element name="REASON_DESC" nillable="true" type="xsd:string"/>
     <element name="REASON_ID" nillable="true" type="xsd:long"/>
     <element name="REASON_SHDES" nillable="true" type="xsd:string"/>
     <element name="SIMSERIAL_NUM" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://manager.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://deactreason.kpsa.beans.ws.gfi.com"/>
   <import namespace="http://rpchange.kpsa.beans.ws.gfi.com"/>
   <import namespace="http://getpuk.kpsa.beans.ws.gfi.com"/>
   <import namespace="http://spchange.kpsa.beans.ws.gfi.com"/>
   <element name="getPukIn" type="tns1:GetPukIn"/>
   <element name="getPukReturn" type="tns1:GetPukOut"/>
   <element name="deactReasonIn" type="tns3:DeactReasonIn"/>
   <element name="getDeactReasonReturn" type="tns3:DeactReasonOut"/>
   <element name="spChangeIn" type="tns4:SpChangeIn"/>
   <complexType name="ArrayOf_tns4_Service">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns4:Service"/>
    </sequence>
   </complexType>
   <element name="spChangeReturn" type="tns4:SpChangeOut"/>
   <element name="rpChangeIn" type="tns5:RpChangeIn"/>
   <complexType name="ArrayOf_tns5_Service">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns5:Service"/>
    </sequence>
   </complexType>
   <element name="rpChangeReturn" type="tns5:RpChangeOut"/>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://deactreason.kpsa.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://manager.ws.gfi.com"/>
   <import namespace="http://rpchange.kpsa.beans.ws.gfi.com"/>
   <import namespace="http://getpuk.kpsa.beans.ws.gfi.com"/>
   <import namespace="http://spchange.kpsa.beans.ws.gfi.com"/>
   <complexType name="DeactReasonIn">
    <sequence>
     <element name="IMSI" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="DeactReasonOut">
    <sequence>
     <element name="REASON_DESC" nillable="true" type="xsd:string"/>
     <element name="REASON_ID" nillable="true" type="xsd:int"/>
     <element name="REASON_SHDES" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://spchange.kpsa.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://manager.ws.gfi.com"/>
   <import namespace="http://deactreason.kpsa.beans.ws.gfi.com"/>
   <import namespace="http://rpchange.kpsa.beans.ws.gfi.com"/>
   <import namespace="http://getpuk.kpsa.beans.ws.gfi.com"/>
   <complexType name="SpChangeIn">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="IMSI" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="Service">
    <sequence>
     <element name="BSSRVCODE" nillable="true" type="xsd:string"/>
     <element name="MAIN" nillable="true" type="xsd:string"/>
     <element name="MSISDN" nillable="true" type="xsd:string"/>
     <element name="SPCODE_NEW" nillable="true" type="xsd:long"/>
     <element name="SPCODE_OLD" nillable="true" type="xsd:long"/>
     <element name="SSSRVCODE" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="SpChangeOut">
    <sequence>
     <element name="CO_STMEDNO" nillable="true" type="xsd:string"/>
     <element name="NEW_SPCODE" nillable="true" type="xsd:long"/>
     <element name="OLD_SPCODE" nillable="true" type="xsd:long"/>
     <element name="services" nillable="true" type="impl:ArrayOf_tns4_Service"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://rpchange.kpsa.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://manager.ws.gfi.com"/>
   <import namespace="http://deactreason.kpsa.beans.ws.gfi.com"/>
   <import namespace="http://getpuk.kpsa.beans.ws.gfi.com"/>
   <import namespace="http://spchange.kpsa.beans.ws.gfi.com"/>
   <complexType name="RpChangeIn">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="IMSI" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="Service">
    <sequence>
     <element name="BSSRVCODE" nillable="true" type="xsd:string"/>
     <element name="MAIN" nillable="true" type="xsd:string"/>
     <element name="MSISDN" nillable="true" type="xsd:string"/>
     <element name="SPCODE_NEW" nillable="true" type="xsd:long"/>
     <element name="SPCODE_OLD" nillable="true" type="xsd:long"/>
     <element name="SSSRVCODE" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="RpChangeOut">
    <sequence>
     <element name="CO_STMEDNO" nillable="true" type="xsd:string"/>
     <element name="NEW_RPCODE" nillable="true" type="xsd:long"/>
     <element name="OLD_RPCODE" nillable="true" type="xsd:long"/>
     <element name="listOfService" nillable="true" type="impl:ArrayOf_tns5_Service"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="spChangeRequest">

      <wsdl:part element="impl:spChangeIn" name="spChangeIn"/>

   </wsdl:message>

   <wsdl:message name="getPukRequest">

      <wsdl:part element="impl:getPukIn" name="getPukIn"/>

   </wsdl:message>

   <wsdl:message name="rpChangeRequest">

      <wsdl:part element="impl:rpChangeIn" name="rpChangeIn"/>

   </wsdl:message>

   <wsdl:message name="getPukResponse">

      <wsdl:part element="impl:getPukReturn" name="getPukReturn"/>

   </wsdl:message>

   <wsdl:message name="spChangeResponse">

      <wsdl:part element="impl:spChangeReturn" name="spChangeReturn"/>

   </wsdl:message>

   <wsdl:message name="getDeactReasonRequest">

      <wsdl:part element="impl:deactReasonIn" name="deactReasonIn"/>

   </wsdl:message>

   <wsdl:message name="rpChangeResponse">

      <wsdl:part element="impl:rpChangeReturn" name="rpChangeReturn"/>

   </wsdl:message>

   <wsdl:message name="getDeactReasonResponse">

      <wsdl:part element="impl:getDeactReasonReturn" name="getDeactReasonReturn"/>

   </wsdl:message>

   <wsdl:portType name="KpsaManager">

      <wsdl:operation name="getPuk" parameterOrder="getPukIn">

         <wsdl:input message="impl:getPukRequest" name="getPukRequest"/>

         <wsdl:output message="impl:getPukResponse" name="getPukResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDeactReason" parameterOrder="deactReasonIn">

         <wsdl:input message="impl:getDeactReasonRequest" name="getDeactReasonRequest"/>

         <wsdl:output message="impl:getDeactReasonResponse" name="getDeactReasonResponse"/>

      </wsdl:operation>

      <wsdl:operation name="spChange" parameterOrder="spChangeIn">

         <wsdl:input message="impl:spChangeRequest" name="spChangeRequest"/>

         <wsdl:output message="impl:spChangeResponse" name="spChangeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="rpChange" parameterOrder="rpChangeIn">

         <wsdl:input message="impl:rpChangeRequest" name="rpChangeRequest"/>

         <wsdl:output message="impl:rpChangeResponse" name="rpChangeResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="KpsaManagerSoapBinding" type="impl:KpsaManager">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getPuk">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPukRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPukResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDeactReason">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDeactReasonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDeactReasonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="spChange">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="spChangeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="spChangeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="rpChange">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="rpChangeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="rpChangeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="KpsaManagerService">

      <wsdl:port binding="impl:KpsaManagerSoapBinding" name="KpsaManager">

         <wsdlsoap:address location="http://localhost:8080/bscsWS/services/KpsaManager"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
