webapp/src/main/webapp/wsdl/MicrocellDomainManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://manager.ws.gfi.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://manager.ws.gfi.com" xmlns:intf="http://manager.ws.gfi.com" xmlns:tns1="http://deletemicrocell.microcelldomain.beans.ws.gfi.com" xmlns:tns2="http://beans.ws.gfi.com" xmlns:tns3="http://commons.beans.ws.gfi.com" xmlns:tns4="http://modifymicrocell.microcelldomain.beans.ws.gfi.com" xmlns:tns5="http://addmicrocell.microcelldomain.beans.ws.gfi.com" xmlns:tns6="http://retrievemicrocell.microcelldomain.beans.ws.gfi.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 09, 2009 (02:08:07 CEST)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://modifymicrocell.microcelldomain.beans.ws.gfi.com"/>
   <import namespace="http://manager.ws.gfi.com"/>
   <import namespace="http://deletemicrocell.microcelldomain.beans.ws.gfi.com"/>
   <import namespace="http://retrievemicrocell.microcelldomain.beans.ws.gfi.com"/>
   <import namespace="http://addmicrocell.microcelldomain.beans.ws.gfi.com"/>
   <import namespace="http://commons.beans.ws.gfi.com"/>
   <complexType abstract="true" name="BasicBeanIn">
    <sequence/>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://commons.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://modifymicrocell.microcelldomain.beans.ws.gfi.com"/>
   <import namespace="http://manager.ws.gfi.com"/>
   <import namespace="http://deletemicrocell.microcelldomain.beans.ws.gfi.com"/>
   <import namespace="http://retrievemicrocell.microcelldomain.beans.ws.gfi.com"/>
   <import namespace="http://addmicrocell.microcelldomain.beans.ws.gfi.com"/>
   <complexType name="ContractIdType">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="CO_ID" nillable="true" type="xsd:long"/>
       <element name="CO_ID_PUB" nillable="true" type="xsd:string"/>
       <element name="MSISDN" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://deletemicrocell.microcelldomain.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://modifymicrocell.microcelldomain.beans.ws.gfi.com"/>
   <import namespace="http://manager.ws.gfi.com"/>
   <import namespace="http://retrievemicrocell.microcelldomain.beans.ws.gfi.com"/>
   <import namespace="http://addmicrocell.microcelldomain.beans.ws.gfi.com"/>
   <import namespace="http://commons.beans.ws.gfi.com"/>
   <complexType name="DeleteMicrocellIn">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="CONTRACT_ID_COMPLEX" nillable="true" type="tns3:ContractIdType"/>
       <element name="IMC_SCALEFACTOR" nillable="true" type="xsd:double"/>
       <element name="IMC_TYPE" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://manager.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://modifymicrocell.microcelldomain.beans.ws.gfi.com"/>
   <import namespace="http://deletemicrocell.microcelldomain.beans.ws.gfi.com"/>
   <import namespace="http://retrievemicrocell.microcelldomain.beans.ws.gfi.com"/>
   <import namespace="http://addmicrocell.microcelldomain.beans.ws.gfi.com"/>
   <import namespace="http://commons.beans.ws.gfi.com"/>
   <element name="deleteMicrocellIn" type="tns1:DeleteMicrocellIn"/>
   <complexType name="ArrayOf_tns4_Destination">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns4:Destination"/>
    </sequence>
   </complexType>
   <element name="modifyMicrocellIn" type="tns4:ModifyMicrocellIn"/>
   <complexType name="ArrayOf_tns5_MicroCellMember">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns5:MicroCellMember"/>
    </sequence>
   </complexType>
   <element name="addMicrocellIn" type="tns5:AddMicrocellIn"/>
   <element name="retrieveMicrocellIn" type="tns6:RetrieveMicrocellIn"/>
   <complexType name="ArrayOf_tns6_MicrocellMemberIn">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns6:MicrocellMemberIn"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns6_IMCIn">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns6:IMCIn"/>
    </sequence>
   </complexType>
   <element name="retrieveMicrocellReturn" type="tns6:RetrieveMicrocellOut"/>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://modifymicrocell.microcelldomain.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://manager.ws.gfi.com"/>
   <import namespace="http://deletemicrocell.microcelldomain.beans.ws.gfi.com"/>
   <import namespace="http://retrievemicrocell.microcelldomain.beans.ws.gfi.com"/>
   <import namespace="http://addmicrocell.microcelldomain.beans.ws.gfi.com"/>
   <import namespace="http://commons.beans.ws.gfi.com"/>
   <complexType name="Destination">
    <sequence>
     <element name="IMC_DESTINATION_NEW" nillable="true" type="xsd:string"/>
     <element name="IMC_DESTINATION_OLD" nillable="true" type="xsd:string"/>
     <element name="IMC_DEST_NP" nillable="true" type="xsd:long"/>
     <element name="IMC_ORIGIN_NP" nillable="true" type="xsd:long"/>
     <element name="IMC_ORIGIN_PREFIX" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ModifyMicrocellIn">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="CONTRACT_ID_COMPLEX" nillable="true" type="tns3:ContractIdType"/>
       <element name="IMC_SCALEFACTOR" nillable="true" type="xsd:double"/>
       <element name="IMC_TYPE" nillable="true" type="xsd:string"/>
       <element name="action" nillable="true" type="xsd:string"/>
       <element name="listOfDestination" nillable="true" type="impl:ArrayOf_tns4_Destination"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://addmicrocell.microcelldomain.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://modifymicrocell.microcelldomain.beans.ws.gfi.com"/>
   <import namespace="http://manager.ws.gfi.com"/>
   <import namespace="http://deletemicrocell.microcelldomain.beans.ws.gfi.com"/>
   <import namespace="http://retrievemicrocell.microcelldomain.beans.ws.gfi.com"/>
   <import namespace="http://commons.beans.ws.gfi.com"/>
   <complexType name="MicroCellMember">
    <sequence>
     <element name="IMC_DESTINATION" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="AddMicrocellIn">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="CONTRACT_ID_COMPLEX" nillable="true" type="tns3:ContractIdType"/>
       <element name="IMC_SCALEFACTOR" nillable="true" type="xsd:double"/>
       <element name="IMC_TYPE" nillable="true" type="xsd:string"/>
       <element name="microCellMemberList" nillable="true" type="impl:ArrayOf_tns5_MicroCellMember"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://retrievemicrocell.microcelldomain.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://modifymicrocell.microcelldomain.beans.ws.gfi.com"/>
   <import namespace="http://manager.ws.gfi.com"/>
   <import namespace="http://deletemicrocell.microcelldomain.beans.ws.gfi.com"/>
   <import namespace="http://addmicrocell.microcelldomain.beans.ws.gfi.com"/>
   <import namespace="http://commons.beans.ws.gfi.com"/>
   <complexType name="RetrieveMicrocellIn">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="CONTRACT_ID_COMPLEX" nillable="true" type="tns3:ContractIdType"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="MicrocellMemberIn">
    <sequence>
     <element name="IMC_DESTINATION" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="IMCIn">
    <sequence>
     <element name="IMC_SCALEFACTOR" nillable="true" type="xsd:float"/>
     <element name="IMC_TYPE" nillable="true" type="xsd:string"/>
     <element name="microcellMemberList" nillable="true" type="impl:ArrayOf_tns6_MicrocellMemberIn"/>
    </sequence>
   </complexType>
   <complexType name="RetrieveMicrocellOut">
    <sequence>
     <element name="imcList" nillable="true" type="impl:ArrayOf_tns6_IMCIn"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="modifyMicrocellResponse">

   </wsdl:message>

   <wsdl:message name="addMicrocellResponse">

   </wsdl:message>

   <wsdl:message name="modifyMicrocellRequest">

      <wsdl:part element="impl:modifyMicrocellIn" name="modifyMicrocellIn"/>

   </wsdl:message>

   <wsdl:message name="retrieveMicrocellRequest">

      <wsdl:part element="impl:retrieveMicrocellIn" name="retrieveMicrocellIn"/>

   </wsdl:message>

   <wsdl:message name="retrieveMicrocellResponse">

      <wsdl:part element="impl:retrieveMicrocellReturn" name="retrieveMicrocellReturn"/>

   </wsdl:message>

   <wsdl:message name="addMicrocellRequest">

      <wsdl:part element="impl:addMicrocellIn" name="addMicrocellIn"/>

   </wsdl:message>

   <wsdl:message name="deleteMicrocellRequest">

      <wsdl:part element="impl:deleteMicrocellIn" name="deleteMicrocellIn"/>

   </wsdl:message>

   <wsdl:message name="deleteMicrocellResponse">

   </wsdl:message>

   <wsdl:portType name="MicrocellDomainManager">

      <wsdl:operation name="deleteMicrocell" parameterOrder="deleteMicrocellIn">

         <wsdl:input message="impl:deleteMicrocellRequest" name="deleteMicrocellRequest"/>

         <wsdl:output message="impl:deleteMicrocellResponse" name="deleteMicrocellResponse"/>

      </wsdl:operation>

      <wsdl:operation name="modifyMicrocell" parameterOrder="modifyMicrocellIn">

         <wsdl:input message="impl:modifyMicrocellRequest" name="modifyMicrocellRequest"/>

         <wsdl:output message="impl:modifyMicrocellResponse" name="modifyMicrocellResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addMicrocell" parameterOrder="addMicrocellIn">

         <wsdl:input message="impl:addMicrocellRequest" name="addMicrocellRequest"/>

         <wsdl:output message="impl:addMicrocellResponse" name="addMicrocellResponse"/>

      </wsdl:operation>

      <wsdl:operation name="retrieveMicrocell" parameterOrder="retrieveMicrocellIn">

         <wsdl:input message="impl:retrieveMicrocellRequest" name="retrieveMicrocellRequest"/>

         <wsdl:output message="impl:retrieveMicrocellResponse" name="retrieveMicrocellResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MicrocellDomainManagerSoapBinding" type="impl:MicrocellDomainManager">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="deleteMicrocell">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteMicrocellRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteMicrocellResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modifyMicrocell">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyMicrocellRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="modifyMicrocellResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addMicrocell">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addMicrocellRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addMicrocellResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="retrieveMicrocell">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="retrieveMicrocellRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="retrieveMicrocellResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MicrocellDomainManagerService">

      <wsdl:port binding="impl:MicrocellDomainManagerSoapBinding" name="MicrocellDomainManager">

         <wsdlsoap:address location="http://localhost:8080/bscsWS/services/MicrocellDomainManager"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
