webapp/src/main/webapp/wsdl/NumberPortabilityDomain.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://manager.ws.gfi.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://manager.ws.gfi.com" xmlns:intf="http://manager.ws.gfi.com" xmlns:tns1="http://exportnumber.numberportabilitydomain.beans.ws.gfi.com" xmlns:tns2="http://beans.ws.gfi.com" xmlns:tns3="http://reimportnumber.numberportabilitydomain.beans.ws.gfi.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 09, 2009 (02:08:07 CEST)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exportnumber.numberportabilitydomain.beans.ws.gfi.com"/>
   <import namespace="http://reimportnumber.numberportabilitydomain.beans.ws.gfi.com"/>
   <complexType abstract="true" name="BasicBeanIn">
    <sequence/>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://exportnumber.numberportabilitydomain.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://reimportnumber.numberportabilitydomain.beans.ws.gfi.com"/>
   <complexType name="ExportNumberIn">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="DEST_PLCODE" nillable="true" type="xsd:long"/>
       <element name="MSISDN" nillable="true" type="xsd:string"/>
       <element name="date" nillable="true" type="xsd:dateTime"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://manager.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://exportnumber.numberportabilitydomain.beans.ws.gfi.com"/>
   <import namespace="http://reimportnumber.numberportabilitydomain.beans.ws.gfi.com"/>
   <element name="exportNumberIn" type="tns1:ExportNumberIn"/>
   <element name="reimportNumberIn" type="tns3:ReimportNumberIn"/>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://reimportnumber.numberportabilitydomain.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://exportnumber.numberportabilitydomain.beans.ws.gfi.com"/>
   <complexType name="ReimportNumberIn">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="MSISDN" nillable="true" type="xsd:string"/>
       <element name="date" nillable="true" type="xsd:dateTime"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="reimportNumberRequest">

      <wsdl:part element="impl:reimportNumberIn" name="reimportNumberIn"/>

   </wsdl:message>

   <wsdl:message name="exportNumberResponse">

   </wsdl:message>

   <wsdl:message name="reimportNumberResponse">

   </wsdl:message>

   <wsdl:message name="exportNumberRequest">

      <wsdl:part element="impl:exportNumberIn" name="exportNumberIn"/>

   </wsdl:message>

   <wsdl:portType name="NumberPortabilityDomain">

      <wsdl:operation name="exportNumber" parameterOrder="exportNumberIn">

         <wsdl:input message="impl:exportNumberRequest" name="exportNumberRequest"/>

         <wsdl:output message="impl:exportNumberResponse" name="exportNumberResponse"/>

      </wsdl:operation>

      <wsdl:operation name="reimportNumber" parameterOrder="reimportNumberIn">

         <wsdl:input message="impl:reimportNumberRequest" name="reimportNumberRequest"/>

         <wsdl:output message="impl:reimportNumberResponse" name="reimportNumberResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="NumberPortabilityDomainSoapBinding" type="impl:NumberPortabilityDomain">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="exportNumber">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="exportNumberRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="exportNumberResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="reimportNumber">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="reimportNumberRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="reimportNumberResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="NumberPortabilityDomainService">

      <wsdl:port binding="impl:NumberPortabilityDomainSoapBinding" name="NumberPortabilityDomain">

         <wsdlsoap:address location="http://localhost:8080/bscsWS/services/NumberPortabilityDomain"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
