webapp/src/main/webapp/wsdl/OcaDomainManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://manager.ws.gfi.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://manager.ws.gfi.com" xmlns:intf="http://manager.ws.gfi.com" xmlns:tns1="http://getcclines.ocadomain.beans.ws.gfi.com" xmlns:tns2="http://beans.ws.gfi.com" xmlns:tns3="http://commons.beans.ws.gfi.com" xmlns:tns4="http://createaddress.ocadomain.beans.ws.gfi.com" xmlns:tns5="http://updatepaymentmode.ocadomain.beans.ws.gfi.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 09, 2009 (02:08:07 CEST)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://createaddress.ocadomain.beans.ws.gfi.com"/>
   <import namespace="http://updatepaymentmode.ocadomain.beans.ws.gfi.com"/>
   <import namespace="http://getcclines.ocadomain.beans.ws.gfi.com"/>
   <import namespace="http://commons.beans.ws.gfi.com"/>
   <complexType abstract="true" name="BasicBeanIn">
    <sequence/>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://commons.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://createaddress.ocadomain.beans.ws.gfi.com"/>
   <import namespace="http://updatepaymentmode.ocadomain.beans.ws.gfi.com"/>
   <import namespace="http://getcclines.ocadomain.beans.ws.gfi.com"/>
   <complexType name="CustomerIdType">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="CS_ID" nillable="true" type="xsd:long"/>
       <element name="CS_ID_PUB" nillable="true" type="xsd:string"/>
       <element name="CUSTCODE" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://getcclines.ocadomain.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://createaddress.ocadomain.beans.ws.gfi.com"/>
   <import namespace="http://updatepaymentmode.ocadomain.beans.ws.gfi.com"/>
   <import namespace="http://commons.beans.ws.gfi.com"/>
   <complexType name="GetCClinesIn">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="CUSTOMER_ID_COMPLEX" nillable="true" type="tns3:CustomerIdType"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="GetCClinesOut">
    <sequence>
     <element name="result" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://manager.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://createaddress.ocadomain.beans.ws.gfi.com"/>
   <import namespace="http://updatepaymentmode.ocadomain.beans.ws.gfi.com"/>
   <import namespace="http://getcclines.ocadomain.beans.ws.gfi.com"/>
   <import namespace="http://commons.beans.ws.gfi.com"/>
   <element name="getCClinesIn" type="tns1:GetCClinesIn"/>
   <element name="getCClinesReturn" type="tns1:GetCClinesOut"/>
   <element name="createAddressIn" type="tns4:CreateAddressIn"/>
   <element name="updatePaymentModeIn" type="tns5:UpdatePaymentModeIn"/>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://createaddress.ocadomain.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://updatepaymentmode.ocadomain.beans.ws.gfi.com"/>
   <import namespace="http://getcclines.ocadomain.beans.ws.gfi.com"/>
   <import namespace="http://commons.beans.ws.gfi.com"/>
   <complexType name="CreateAddressIn">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="CUSTOMER_ID_COMPLEX" nillable="true" type="tns3:CustomerIdType"/>
       <element name="ccaddr1" nillable="true" type="xsd:string"/>
       <element name="ccaddr2" nillable="true" type="xsd:string"/>
       <element name="ccaddr3" nillable="true" type="xsd:string"/>
       <element name="cccity" nillable="true" type="xsd:string"/>
       <element name="ccemail" nillable="true" type="xsd:string"/>
       <element name="ccfax" nillable="true" type="xsd:string"/>
       <element name="ccfname" nillable="true" type="xsd:string"/>
       <element name="cclname" nillable="true" type="xsd:string"/>
       <element name="ccsmsno" nillable="true" type="xsd:string"/>
       <element name="ccstate" nillable="true" type="xsd:string"/>
       <element name="ccstreet" nillable="true" type="xsd:string"/>
       <element name="ccstreetno" nillable="true" type="xsd:string"/>
       <element name="cctitle" nillable="true" type="xsd:long"/>
       <element name="cctn" nillable="true" type="xsd:string"/>
       <element name="cctn2" nillable="true" type="xsd:string"/>
       <element name="cczip" nillable="true" type="xsd:string"/>
       <element name="countryId" nillable="true" type="xsd:long"/>
       <element name="nomVoie" nillable="true" type="xsd:string"/>
       <element name="serviceDistri" nillable="true" type="xsd:string"/>
       <element name="typeComplementGeo" nillable="true" type="xsd:string"/>
       <element name="typeComplementGeoAbreviation" nillable="true" type="xsd:string"/>
       <element name="typeVoie" nillable="true" type="xsd:string"/>
       <element name="typeVoieAbreviation" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://updatepaymentmode.ocadomain.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://createaddress.ocadomain.beans.ws.gfi.com"/>
   <import namespace="http://getcclines.ocadomain.beans.ws.gfi.com"/>
   <import namespace="http://commons.beans.ws.gfi.com"/>
   <complexType name="UpdatePaymentModeIn">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="CUSTOMER_ID_COMPLEX" nillable="true" type="tns3:CustomerIdType"/>
       <element name="paymentTypeId" nillable="true" type="xsd:long"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="updatePaymentModeRequest">

      <wsdl:part element="impl:updatePaymentModeIn" name="updatePaymentModeIn"/>

   </wsdl:message>

   <wsdl:message name="createAddressRequest">

      <wsdl:part element="impl:createAddressIn" name="createAddressIn"/>

   </wsdl:message>

   <wsdl:message name="createAddressResponse">

   </wsdl:message>

   <wsdl:message name="getCClinesResponse">

      <wsdl:part element="impl:getCClinesReturn" name="getCClinesReturn"/>

   </wsdl:message>

   <wsdl:message name="getCClinesRequest">

      <wsdl:part element="impl:getCClinesIn" name="getCClinesIn"/>

   </wsdl:message>

   <wsdl:message name="updatePaymentModeResponse">

   </wsdl:message>

   <wsdl:portType name="OcaDomainManager">

      <wsdl:operation name="getCClines" parameterOrder="getCClinesIn">

         <wsdl:input message="impl:getCClinesRequest" name="getCClinesRequest"/>

         <wsdl:output message="impl:getCClinesResponse" name="getCClinesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="createAddress" parameterOrder="createAddressIn">

         <wsdl:input message="impl:createAddressRequest" name="createAddressRequest"/>

         <wsdl:output message="impl:createAddressResponse" name="createAddressResponse"/>

      </wsdl:operation>

      <wsdl:operation name="updatePaymentMode" parameterOrder="updatePaymentModeIn">

         <wsdl:input message="impl:updatePaymentModeRequest" name="updatePaymentModeRequest"/>

         <wsdl:output message="impl:updatePaymentModeResponse" name="updatePaymentModeResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="OcaDomainManagerSoapBinding" type="impl:OcaDomainManager">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getCClines">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCClinesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCClinesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createAddress">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createAddressRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createAddressResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updatePaymentMode">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updatePaymentModeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updatePaymentModeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="OcaDomainManagerService">

      <wsdl:port binding="impl:OcaDomainManagerSoapBinding" name="OcaDomainManager">

         <wsdlsoap:address location="http://localhost:8080/bscsWS/services/OcaDomainManager"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
