webapp/src/main/webapp/wsdl/PaymentManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://manager.ws.gfi.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://manager.ws.gfi.com" xmlns:intf="http://manager.ws.gfi.com" xmlns:tns1="http://modifypayment.payment.beans.ws.gfi.com" xmlns:tns10="http://primorenewal.payment.beans.ws.gfi.com" xmlns:tns11="http://cancelrefunddeposit.payment.beans.ws.gfi.com" xmlns:tns12="http://cancelprimorenewal.payment.beans.ws.gfi.com" xmlns:tns2="http://beans.ws.gfi.com" xmlns:tns3="http://commons.beans.ws.gfi.com" xmlns:tns4="http://addpayment.payment.beans.ws.gfi.com" xmlns:tns5="http://cancelpayment.payment.beans.ws.gfi.com" xmlns:tns6="http://adddeposit.payment.beans.ws.gfi.com" xmlns:tns7="http://canceldeposit.payment.beans.ws.gfi.com" xmlns:tns8="http://refunddeposit.payment.beans.ws.gfi.com" xmlns:tns9="http://autoreleasecheck.payment.beans.ws.gfi.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 09, 2009 (02:08:07 CEST)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://cancelprimorenewal.payment.beans.ws.gfi.com"/>
   <import namespace="http://autoreleasecheck.payment.beans.ws.gfi.com"/>
   <import namespace="http://refunddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://addpayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://adddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://modifypayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://primorenewal.payment.beans.ws.gfi.com"/>
   <import namespace="http://cancelrefunddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://canceldeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://cancelpayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://commons.beans.ws.gfi.com"/>
   <complexType abstract="true" name="BasicBeanIn">
    <sequence/>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://commons.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://cancelprimorenewal.payment.beans.ws.gfi.com"/>
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://autoreleasecheck.payment.beans.ws.gfi.com"/>
   <import namespace="http://refunddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://addpayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://adddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://modifypayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://primorenewal.payment.beans.ws.gfi.com"/>
   <import namespace="http://cancelrefunddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://canceldeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://cancelpayment.payment.beans.ws.gfi.com"/>
   <complexType name="CustomerIdType">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="CS_ID" nillable="true" type="xsd:long"/>
       <element name="CS_ID_PUB" nillable="true" type="xsd:string"/>
       <element name="CUSTCODE" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://modifypayment.payment.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://cancelprimorenewal.payment.beans.ws.gfi.com"/>
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://autoreleasecheck.payment.beans.ws.gfi.com"/>
   <import namespace="http://refunddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://addpayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://adddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://primorenewal.payment.beans.ws.gfi.com"/>
   <import namespace="http://cancelrefunddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://canceldeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://cancelpayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://commons.beans.ws.gfi.com"/>
   <complexType name="ModifyPaymentIn">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="AUTH_IND" nillable="true" type="xsd:boolean"/>
       <element name="AUTH_REMARK" nillable="true" type="xsd:string"/>
       <element name="BANK_NAME" nillable="true" type="xsd:string"/>
       <element name="BT_CAXACT" nillable="true" type="xsd:long"/>
       <element name="BT_OHXACT" nillable="true" type="xsd:long"/>
       <element name="CSP_ACCNO" nillable="true" type="xsd:string"/>
       <element name="CSP_ACCOWNER" nillable="true" type="xsd:string"/>
       <element name="CSP_ACT_USED" nillable="true" type="xsd:boolean"/>
       <element name="CSP_BANKCITY" nillable="true" type="xsd:string"/>
       <element name="CSP_BANKCODE" nillable="true" type="xsd:string"/>
       <element name="CSP_BANKCOUNTRY" nillable="true" type="xsd:long"/>
       <element name="CSP_BANKCOUNTRY_PUB" nillable="true" type="xsd:string"/>
       <element name="CSP_BANKCOUNTY" nillable="true" type="xsd:string"/>
       <element name="CSP_BANKNAME" nillable="true" type="xsd:string"/>
       <element name="CSP_BANKSTATE" nillable="true" type="xsd:string"/>
       <element name="CSP_BANKSTREET" nillable="true" type="xsd:string"/>
       <element name="CSP_BANKSTREETNO" nillable="true" type="xsd:string"/>
       <element name="CSP_BANKZIP" nillable="true" type="xsd:string"/>
       <element name="CSP_CCAG_CODE" nillable="true" type="xsd:long"/>
       <element name="CSP_CCAG_CODE_PUB" nillable="true" type="xsd:string"/>
       <element name="CSP_CCVALIDDT" nillable="true" type="xsd:string"/>
       <element name="CSP_DELETED" nillable="true" type="xsd:boolean"/>
       <element name="CSP_ORDERNUMBER" nillable="true" type="xsd:string"/>
       <element name="CSP_PMNT_ID" nillable="true" type="xsd:long"/>
       <element name="CSP_PMNT_ID_PUB" nillable="true" type="xsd:string"/>
       <element name="CSP_SEQNO" nillable="true" type="xsd:long"/>
       <element name="CSP_SWIFTCODE" nillable="true" type="xsd:string"/>
       <element name="CUSTOMER_ID_COMPLEX" nillable="true" type="tns3:CustomerIdType"/>
       <element name="PAYMENT_CURRENCY_ID" nillable="true" type="xsd:long"/>
       <element name="PAYMENT_MODE" nillable="true" type="xsd:string"/>
       <element name="RT_CACHKAMT_PAY" nillable="true" type="xsd:long"/>
       <element name="RT_CACHKDATE" nillable="true" type="xsd:dateTime"/>
       <element name="RT_CACHKNUM" nillable="true" type="xsd:string"/>
       <element name="RT_CADISAMT_PAY" nillable="true" type="xsd:long"/>
       <element name="RT_CARECDATE" nillable="true" type="xsd:dateTime"/>
       <element name="RT_CAREM" nillable="true" type="xsd:string"/>
       <element name="RT_CAUSERNAME" nillable="true" type="xsd:string"/>
       <element name="RT_EXCHANGERATE_CURRENCY" nillable="true" type="xsd:long"/>
       <element name="RT_FCCODE_PAY" nillable="true" type="xsd:string"/>
       <element name="SYNCHRONOUS_MODE" type="xsd:boolean"/>
       <element name="TRANSX_CODE" nillable="true" type="xsd:string"/>
       <element name="VALIDTHROUGH_DATE" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ModifyPaymentOut">
    <sequence>
     <element name="CSP_SEQNO" nillable="true" type="xsd:long"/>
     <element name="PIHTAB_ID" nillable="true" type="xsd:long"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://manager.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://cancelprimorenewal.payment.beans.ws.gfi.com"/>
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://autoreleasecheck.payment.beans.ws.gfi.com"/>
   <import namespace="http://refunddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://addpayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://adddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://modifypayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://primorenewal.payment.beans.ws.gfi.com"/>
   <import namespace="http://cancelrefunddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://canceldeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://cancelpayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://commons.beans.ws.gfi.com"/>
   <element name="modifyPaymentIn" type="tns1:ModifyPaymentIn"/>
   <element name="modifyPaymentReturn" type="tns1:ModifyPaymentOut"/>
   <element name="addPaymentIn" type="tns4:AddPaymentIn"/>
   <element name="addPaymentReturn" type="tns4:AddPaymentOut"/>
   <element name="cancelPaymentIn" type="tns5:CancelPaymentIn"/>
   <element name="cancelPaymentReturn" type="tns5:CancelPaymentOut"/>
   <element name="addDepositIn" type="tns6:AddDepositIn"/>
   <element name="addDepositReturn" type="tns6:AddDepositOut"/>
   <element name="cancelDepositIn" type="tns7:CancelDepositIn"/>
   <element name="cancelDepositReturn" type="tns7:CancelDepositOut"/>
   <element name="refundDepositIn" type="tns8:RefundDepositIn"/>
   <element name="refundDepositReturn" type="tns8:RefundDepositOut"/>
   <element name="autoReleaseCheckIn" type="tns9:AutoReleaseCheckIn"/>
   <element name="autoReleaseCheckReturn" type="tns9:AutoReleaseCheckOut"/>
   <element name="primoRenewalIn" type="tns10:PrimoRenewalIn"/>
   <element name="primoRenewalReturn" type="tns10:PrimoRenewalOut"/>
   <element name="cancelRefundDepositIn" type="tns11:CancelRefundDepositIn"/>
   <element name="cancelRefundDepositReturn" type="tns11:CancelRefundDepositOut"/>
   <element name="cancelPrimoRenewalIn" type="tns12:CancelPrimoRenewalIn"/>
   <element name="cancelPrimoRenewalReturn" type="tns12:CancelPrimoRenewalOut"/>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://addpayment.payment.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://cancelprimorenewal.payment.beans.ws.gfi.com"/>
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://autoreleasecheck.payment.beans.ws.gfi.com"/>
   <import namespace="http://refunddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://adddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://modifypayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://primorenewal.payment.beans.ws.gfi.com"/>
   <import namespace="http://cancelrefunddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://canceldeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://cancelpayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://commons.beans.ws.gfi.com"/>
   <complexType name="AddPaymentIn">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="AMOUNT" nillable="true" type="xsd:float"/>
       <element name="CHANNELCODE" nillable="true" type="xsd:string"/>
       <element name="CUSTOMER_ID_COMPLEX" nillable="true" type="tns3:CustomerIdType"/>
       <element name="OHREFNUM" nillable="true" type="xsd:string"/>
       <element name="PAYMENT_DATE" nillable="true" type="xsd:dateTime"/>
       <element name="RT_CACHKNUM" nillable="true" type="xsd:string"/>
       <element name="RT_CAUSERNAME" nillable="true" type="xsd:string"/>
       <element name="RT_OHXACT" nillable="true" type="xsd:long"/>
       <element name="RT_PAYMENT_MODE" nillable="true" type="xsd:string"/>
       <element name="RT_REMARK" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="AddPaymentOut">
    <sequence>
     <element name="PIHTAB_ID" nillable="true" type="xsd:long"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://cancelpayment.payment.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://cancelprimorenewal.payment.beans.ws.gfi.com"/>
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://autoreleasecheck.payment.beans.ws.gfi.com"/>
   <import namespace="http://refunddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://addpayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://adddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://modifypayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://primorenewal.payment.beans.ws.gfi.com"/>
   <import namespace="http://cancelrefunddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://canceldeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://commons.beans.ws.gfi.com"/>
   <complexType name="CancelPaymentIn">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="CUSTOMER_ID_COMPLEX" nillable="true" type="tns3:CustomerIdType"/>
       <element name="RT_CACHKNUM" nillable="true" type="xsd:string"/>
       <element name="RT_CAUSERNAME" nillable="true" type="xsd:string"/>
       <element name="RT_REMARK" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="CancelPaymentOut">
    <sequence>
     <element name="PIHTAB_ID" nillable="true" type="xsd:long"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://adddeposit.payment.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://cancelprimorenewal.payment.beans.ws.gfi.com"/>
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://autoreleasecheck.payment.beans.ws.gfi.com"/>
   <import namespace="http://refunddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://addpayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://modifypayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://primorenewal.payment.beans.ws.gfi.com"/>
   <import namespace="http://cancelrefunddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://canceldeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://cancelpayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://commons.beans.ws.gfi.com"/>
   <complexType name="AddDepositIn">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="AMOUNT" nillable="true" type="xsd:float"/>
       <element name="CUSTOMER_ID_COMPLEX" nillable="true" type="tns3:CustomerIdType"/>
       <element name="PAYMENT_DATE" nillable="true" type="xsd:dateTime"/>
       <element name="RT_CACHKNUM" nillable="true" type="xsd:string"/>
       <element name="RT_CAUSERNAME" nillable="true" type="xsd:string"/>
       <element name="RT_PAYMENT_MODE" nillable="true" type="xsd:string"/>
       <element name="RT_REMARK" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="AddDepositOut">
    <sequence>
     <element name="PIHTAB_ID" nillable="true" type="xsd:long"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://canceldeposit.payment.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://cancelprimorenewal.payment.beans.ws.gfi.com"/>
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://autoreleasecheck.payment.beans.ws.gfi.com"/>
   <import namespace="http://refunddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://addpayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://adddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://modifypayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://primorenewal.payment.beans.ws.gfi.com"/>
   <import namespace="http://cancelrefunddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://cancelpayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://commons.beans.ws.gfi.com"/>
   <complexType name="CancelDepositIn">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="CUSTOMER_ID_COMPLEX" nillable="true" type="tns3:CustomerIdType"/>
       <element name="RT_CACHKNUM" nillable="true" type="xsd:string"/>
       <element name="RT_CAUSERNAME" nillable="true" type="xsd:string"/>
       <element name="RT_REMARK" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="CancelDepositOut">
    <sequence>
     <element name="PIHTAB_ID" nillable="true" type="xsd:long"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://refunddeposit.payment.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://cancelprimorenewal.payment.beans.ws.gfi.com"/>
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://autoreleasecheck.payment.beans.ws.gfi.com"/>
   <import namespace="http://addpayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://adddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://modifypayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://primorenewal.payment.beans.ws.gfi.com"/>
   <import namespace="http://cancelrefunddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://canceldeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://cancelpayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://commons.beans.ws.gfi.com"/>
   <complexType name="RefundDepositIn">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="CUSTOMER_ID_COMPLEX" nillable="true" type="tns3:CustomerIdType"/>
       <element name="PAYMENT_DATE" nillable="true" type="xsd:dateTime"/>
       <element name="RT_CACHKNUM" nillable="true" type="xsd:string"/>
       <element name="RT_CAUSERNAME" nillable="true" type="xsd:string"/>
       <element name="RT_OHXACT" nillable="true" type="xsd:long"/>
       <element name="RT_REMARK" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RefundDepositOut">
    <sequence>
     <element name="PIHTAB_ID" nillable="true" type="xsd:long"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://autoreleasecheck.payment.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://cancelprimorenewal.payment.beans.ws.gfi.com"/>
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://refunddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://addpayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://adddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://modifypayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://primorenewal.payment.beans.ws.gfi.com"/>
   <import namespace="http://cancelrefunddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://canceldeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://cancelpayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://commons.beans.ws.gfi.com"/>
   <complexType name="AutoReleaseCheckIn">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="AMOUNT_PAID" nillable="true" type="xsd:float"/>
       <element name="CUSTOMER_ID_COMPLEX" nillable="true" type="tns3:CustomerIdType"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="AutoReleaseCheckOut">
    <sequence>
     <element name="REASON" nillable="true" type="xsd:string"/>
     <element name="STATUS" nillable="true" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://primorenewal.payment.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://cancelprimorenewal.payment.beans.ws.gfi.com"/>
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://autoreleasecheck.payment.beans.ws.gfi.com"/>
   <import namespace="http://refunddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://addpayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://adddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://modifypayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://cancelrefunddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://canceldeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://cancelpayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://commons.beans.ws.gfi.com"/>
   <complexType name="PrimoRenewalIn">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="AMOUNT" nillable="true" type="xsd:float"/>
       <element name="CUSTOMER_ID_COMPLEX" nillable="true" type="tns3:CustomerIdType"/>
       <element name="MSISDN" nillable="true" type="xsd:string"/>
       <element name="PAYMENT_DATE" nillable="true" type="xsd:dateTime"/>
       <element name="RENEW_PERIOD" nillable="true" type="xsd:int"/>
       <element name="RT_CACHKNUM" nillable="true" type="xsd:string"/>
       <element name="RT_CAUSERNAME" nillable="true" type="xsd:string"/>
       <element name="RT_PAYMENT_MODE" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="PrimoRenewalOut">
    <sequence>
     <element name="PIHTAB_ID" nillable="true" type="xsd:long"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://cancelrefunddeposit.payment.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://cancelprimorenewal.payment.beans.ws.gfi.com"/>
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://autoreleasecheck.payment.beans.ws.gfi.com"/>
   <import namespace="http://refunddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://addpayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://adddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://modifypayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://primorenewal.payment.beans.ws.gfi.com"/>
   <import namespace="http://canceldeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://cancelpayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://commons.beans.ws.gfi.com"/>
   <complexType name="CancelRefundDepositIn">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="CUSTOMER_ID_COMPLEX" nillable="true" type="tns3:CustomerIdType"/>
       <element name="RT_CACHKNUM" nillable="true" type="xsd:string"/>
       <element name="RT_CAUSERNAME" nillable="true" type="xsd:string"/>
       <element name="RT_REMARK" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="CancelRefundDepositOut">
    <sequence>
     <element name="PIHTAB_ID" nillable="true" type="xsd:long"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://cancelprimorenewal.payment.beans.ws.gfi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.ws.gfi.com"/>
   <import namespace="http://autoreleasecheck.payment.beans.ws.gfi.com"/>
   <import namespace="http://refunddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://addpayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://adddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://modifypayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://primorenewal.payment.beans.ws.gfi.com"/>
   <import namespace="http://cancelrefunddeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://canceldeposit.payment.beans.ws.gfi.com"/>
   <import namespace="http://cancelpayment.payment.beans.ws.gfi.com"/>
   <import namespace="http://commons.beans.ws.gfi.com"/>
   <complexType name="CancelPrimoRenewalIn">
    <complexContent>
     <extension base="tns2:BasicBeanIn">
      <sequence>
       <element name="CUSTOMER_ID_COMPLEX" nillable="true" type="tns3:CustomerIdType"/>
       <element name="PAYMENT_DATE" nillable="true" type="xsd:dateTime"/>
       <element name="RT_CACHKNUM" nillable="true" type="xsd:string"/>
       <element name="RT_CAUSERNAME" nillable="true" type="xsd:string"/>
       <element name="RT_REMARK" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="CancelPrimoRenewalOut">
    <sequence>
     <element name="PIHTAB_ID" nillable="true" type="xsd:long"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="addDepositRequest">

      <wsdl:part element="intf:addDepositIn" name="addDepositIn"/>

   </wsdl:message>

   <wsdl:message name="cancelPaymentResponse">

      <wsdl:part element="intf:cancelPaymentReturn" name="cancelPaymentReturn"/>

   </wsdl:message>

   <wsdl:message name="cancelPaymentRequest">

      <wsdl:part element="intf:cancelPaymentIn" name="cancelPaymentIn"/>

   </wsdl:message>

   <wsdl:message name="cancelDepositResponse">

      <wsdl:part element="intf:cancelDepositReturn" name="cancelDepositReturn"/>

   </wsdl:message>

   <wsdl:message name="cancelPrimoRenewalResponse">

      <wsdl:part element="intf:cancelPrimoRenewalReturn" name="cancelPrimoRenewalReturn"/>

   </wsdl:message>

   <wsdl:message name="autoReleaseCheckRequest">

      <wsdl:part element="intf:autoReleaseCheckIn" name="autoReleaseCheckIn"/>

   </wsdl:message>

   <wsdl:message name="addDepositResponse">

      <wsdl:part element="intf:addDepositReturn" name="addDepositReturn"/>

   </wsdl:message>

   <wsdl:message name="cancelDepositRequest">

      <wsdl:part element="intf:cancelDepositIn" name="cancelDepositIn"/>

   </wsdl:message>

   <wsdl:message name="modifyPaymentResponse">

      <wsdl:part element="intf:modifyPaymentReturn" name="modifyPaymentReturn"/>

   </wsdl:message>

   <wsdl:message name="autoReleaseCheckResponse">

      <wsdl:part element="intf:autoReleaseCheckReturn" name="autoReleaseCheckReturn"/>

   </wsdl:message>

   <wsdl:message name="refundDepositResponse">

      <wsdl:part element="intf:refundDepositReturn" name="refundDepositReturn"/>

   </wsdl:message>

   <wsdl:message name="cancelRefundDepositResponse">

      <wsdl:part element="intf:cancelRefundDepositReturn" name="cancelRefundDepositReturn"/>

   </wsdl:message>

   <wsdl:message name="cancelPrimoRenewalRequest">

      <wsdl:part element="intf:cancelPrimoRenewalIn" name="cancelPrimoRenewalIn"/>

   </wsdl:message>

   <wsdl:message name="primoRenewalRequest">

      <wsdl:part element="intf:primoRenewalIn" name="primoRenewalIn"/>

   </wsdl:message>

   <wsdl:message name="cancelRefundDepositRequest">

      <wsdl:part element="intf:cancelRefundDepositIn" name="cancelRefundDepositIn"/>

   </wsdl:message>

   <wsdl:message name="addPaymentRequest">

      <wsdl:part element="intf:addPaymentIn" name="addPaymentIn"/>

   </wsdl:message>

   <wsdl:message name="addPaymentResponse">

      <wsdl:part element="intf:addPaymentReturn" name="addPaymentReturn"/>

   </wsdl:message>

   <wsdl:message name="modifyPaymentRequest">

      <wsdl:part element="intf:modifyPaymentIn" name="modifyPaymentIn"/>

   </wsdl:message>

   <wsdl:message name="refundDepositRequest">

      <wsdl:part element="intf:refundDepositIn" name="refundDepositIn"/>

   </wsdl:message>

   <wsdl:message name="primoRenewalResponse">

      <wsdl:part element="intf:primoRenewalReturn" name="primoRenewalReturn"/>

   </wsdl:message>

   <wsdl:portType name="PaymentManager">

      <wsdl:operation name="modifyPayment" parameterOrder="modifyPaymentIn">

         <wsdl:input message="intf:modifyPaymentRequest" name="modifyPaymentRequest"/>

         <wsdl:output message="intf:modifyPaymentResponse" name="modifyPaymentResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addPayment" parameterOrder="addPaymentIn">

         <wsdl:input message="intf:addPaymentRequest" name="addPaymentRequest"/>

         <wsdl:output message="intf:addPaymentResponse" name="addPaymentResponse"/>

      </wsdl:operation>

      <wsdl:operation name="cancelPayment" parameterOrder="cancelPaymentIn">

         <wsdl:input message="intf:cancelPaymentRequest" name="cancelPaymentRequest"/>

         <wsdl:output message="intf:cancelPaymentResponse" name="cancelPaymentResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addDeposit" parameterOrder="addDepositIn">

         <wsdl:input message="intf:addDepositRequest" name="addDepositRequest"/>

         <wsdl:output message="intf:addDepositResponse" name="addDepositResponse"/>

      </wsdl:operation>

      <wsdl:operation name="cancelDeposit" parameterOrder="cancelDepositIn">

         <wsdl:input message="intf:cancelDepositRequest" name="cancelDepositRequest"/>

         <wsdl:output message="intf:cancelDepositResponse" name="cancelDepositResponse"/>

      </wsdl:operation>

      <wsdl:operation name="refundDeposit" parameterOrder="refundDepositIn">

         <wsdl:input message="intf:refundDepositRequest" name="refundDepositRequest"/>

         <wsdl:output message="intf:refundDepositResponse" name="refundDepositResponse"/>

      </wsdl:operation>

      <wsdl:operation name="autoReleaseCheck" parameterOrder="autoReleaseCheckIn">

         <wsdl:input message="intf:autoReleaseCheckRequest" name="autoReleaseCheckRequest"/>

         <wsdl:output message="intf:autoReleaseCheckResponse" name="autoReleaseCheckResponse"/>

      </wsdl:operation>

      <wsdl:operation name="primoRenewal" parameterOrder="primoRenewalIn">

         <wsdl:input message="intf:primoRenewalRequest" name="primoRenewalRequest"/>

         <wsdl:output message="intf:primoRenewalResponse" name="primoRenewalResponse"/>

      </wsdl:operation>

      <wsdl:operation name="cancelRefundDeposit" parameterOrder="cancelRefundDepositIn">

         <wsdl:input message="intf:cancelRefundDepositRequest" name="cancelRefundDepositRequest"/>

         <wsdl:output message="intf:cancelRefundDepositResponse" name="cancelRefundDepositResponse"/>

      </wsdl:operation>

      <wsdl:operation name="cancelPrimoRenewal" parameterOrder="cancelPrimoRenewalIn">

         <wsdl:input message="intf:cancelPrimoRenewalRequest" name="cancelPrimoRenewalRequest"/>

         <wsdl:output message="intf:cancelPrimoRenewalResponse" name="cancelPrimoRenewalResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PaymentManagerSoapBinding" type="intf:PaymentManager">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="modifyPayment">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyPaymentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="modifyPaymentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addPayment">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addPaymentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addPaymentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cancelPayment">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="cancelPaymentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="cancelPaymentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addDeposit">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addDepositRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addDepositResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cancelDeposit">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="cancelDepositRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="cancelDepositResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="refundDeposit">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="refundDepositRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="refundDepositResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="autoReleaseCheck">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="autoReleaseCheckRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="autoReleaseCheckResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="primoRenewal">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="primoRenewalRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="primoRenewalResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cancelRefundDeposit">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="cancelRefundDepositRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="cancelRefundDepositResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cancelPrimoRenewal">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="cancelPrimoRenewalRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="cancelPrimoRenewalResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PaymentManagerService">

      <wsdl:port binding="intf:PaymentManagerSoapBinding" name="PaymentManager">

         <wsdlsoap:address location="http://localhost:8080/bscsWS/services/PaymentManager"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
